/**************************************
        REGOLE GENERALI
***************************************/

body {
    font-family: 'PT Sans', sans-serif;
}

/* RESET */
ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor
}

button {
    border: none;
    background-color: transparent;
}

img {
    max-width: 100%;
    display: block;
}

/* ROOT */
:root{
    --primary-button-color: #185bb9;
    --white-color:white;
    --blue-color-500:#1c72e8;
    --blue-color-800:#12263d;
    --orange-color-600: #ff8f00;
    --grey-color-600:#6c757d;
}

/**************************************
    HEADER
***************************************/
header{
    position: fixed;
    z-index: 30;
    top:0%;
    left: 0%;
    width: 100%;
    height: 4.375rem;
}
.col-big-header{
    flex-grow: 1;
}
.logo-small{
    width: 3rem;
}

/**************************************
    ASIDE
***************************************/



/**************************************
    MAIN
***************************************/


/**************************************
    MEDIAQUERY
***************************************/
