/**************************************
        REGOLE GENERALI
***************************************/

body {
    font-family: 'PT Sans', sans-serif;
}

/* RESET */
ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor
}

button {
    border: none;
    background-color: transparent;
}

img {
    max-width: 100%;
}

/* ROOT */


/**************************************
    HEADER
***************************************/
#main-header {
    width: 100%;
    height: 70px;
}

/**************************************
    MAIN
***************************************/
main {
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
}

main > aside {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main-content {
    width: calc(100% - 200px);
    height: 100%;
    overflow: auto;
}

#main-content > header {
    width: 100%;
}

/**************************************
    MEDIAQUERY
***************************************/
@media all and (max-width: 992px) {
    main > aside {
        width: 80px;
    }

    #main-content {
        width: calc(100% - 80px);
    }
}